@model HomeViewModel
<!-- start cta-s3-section -->
<section class="cta-s3-section section-padding" style="background-image:url(images/@Model.ContactSection.Image);background-position:center;">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="inner clearfix">
                    <div class="cta-content">
                        <h2>@Model.ContactSection.Title</h2>
                        <p>@Model.ContactSection.Text </p>
                        <a href="#" class="theme-btn-s4">@Model.ContactSection.ActionText</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end cta-s3-section -->