@model HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

<vc:slider></vc:slider>
<vc:about-section></vc:about-section>
<vc:service-list></vc:service-list>
<partial name="Home/_LikeableArea" model="Model" />

<vc:plan></vc:plan>
<partial name="Home/_NewTo" model="Model" />
<vc:testimonial></vc:testimonial>
<!-- start blog-section -->
<section class="blog-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="content-area">
                    <div class="left-col">
                        <div class="section-title-s3">
                            <span>From our blog</span>
                            <h2>Industry knowledge</h2>
                            <p>With a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. Gregor then turned to look out</p>
                        </div>
                        <div class="blog-post-w-media post">
                            <div class="entry-media">
                                <img src="~/images/blog/img-1.jpg">
                            </div>
                            <p class="cat"><i class="fi flaticon-tag-1"></i> Insurance, company</p>
                            <h3><a href="#">How to shape your child’s dream into reality!</a></h3>
                            <p class="text">A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright</p>
                            <a href="#" class="theme-btn">Read more</a>
                        </div>
                    </div>
                    <div class="right-col">
                        <div class="post">
                            <p class="cat"><i class="fi flaticon-tag-1"></i> Insurance, company</p>
                            <h3><a href="#">Villagers who to do have access to hospitals</a></h3>
                            <p class="text">A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright</p>
                            <a href="#" class="read-more">Read more</a>
                        </div>
                        <div class="post">
                            <p class="cat"><i class="fi flaticon-tag-1"></i> Insurance, company</p>
                            <h3><a href="#">Life boosts its digital presence with dash</a></h3>
                            <p class="text">A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there hung a picture that he had recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright</p>
                            <a href="#" class="read-more">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-section -->
<partial name="Home/_ContactSection" model="Model" />

