@model IEnumerable<AboutSectionFunFactViewModel>





<div class="fun-fact-area">
    <div class="fun-fact-grids clearfix">
        @foreach (var item in Model)
        {
            <div class="grid">
                <div class="info">
                    <i class="@item.Icon"></i>
                    <h3><span class="odometer" data-count="@item.Numbs">00</span></h3>
                    <p>@item.Description</p>
                </div>
            </div>
        }
    </div>
</div>
